## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [3]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [5]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [7]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [9]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [11]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [13]:
%sql
select * from country_club.bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03T11:00:00.000+0000,2
1,4,1,2012-07-03T08:00:00.000+0000,2
2,6,0,2012-07-03T18:00:00.000+0000,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [15]:
%sql
select facid from country_club.facilities where membercost=0

facid
2
3
7
8

####  Q2: How many facilities do not charge a fee to members?

In [17]:
%sql
select count(facid) from country_club.facilities where membercost=0

count(facid)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [19]:
%sql
select facid, 
        name, 
        membercost, 
        monthlymaintenance 
from country_club.facilities 
where membercost < (0.2*monthlymaintenance)

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
2,Badminton Court,0.0,50
3,Table Tennis,0.0,10
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80
7,Snooker Table,0.0,15
8,Pool Table,0.0,15

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [21]:
%sql
select * from country_club.facilities where facid in (1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [23]:
%sql
-- DOUBT: Why cant I return all the fields? select * is giving me an error
SELECT name,
       monthlymaintenance,
       if(monthlymaintenance > 100, 'expensive', 'cheap') as cost
FROM country_club.facilities

name,monthlymaintenance,cost
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Badminton Court,50,cheap
Table Tennis,10,cheap
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Squash Court,80,cheap
Snooker Table,15,cheap
Pool Table,15,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [25]:
%sql
select surname, firstname 
from country_club.members
order by joindate desc

surname,firstname
Smith,Darren
Crumpet,Erica
Hunt,John
Tupperware,Hyacinth
Purview,Millicent
Worthington-Smyth,Henry
Farrell,David
Rumney,Henrietta
Jones,Douglas
Sarwin,Ramnaresh
Coplin,Joan
Mackenzie,Anna
Genting,Matthew
Pinker,David
Baker,Timothy
Bader,Florence
Smith,Jack
Farrell,Jemima
Baker,Anne
Jones,David
Owen,Charles
Stibbons,Ponder
Boothe,Tim
Dare,Nancy
Tracy,Burton
Butters,Gerald
Joplette,Janice
Rownam,Tim
Smith,Tracy
Smith,Darren
GUEST,GUEST

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [27]:
 %sql
select case when country_club.members.memid = 0 then 'GUEST'
            else concat(firstname, ' ', surname) end as who,
       case when country_club.facilities.facid = 0 then 'Court 1'
            when country_club.facilities.facid = 1 then 'Court 2'
            else NULL end as court
from country_club.members
join country_club.facilities
on members.memid = facilities.facid
where facid in (0,1)

who,court
GUEST,Court 1
Darren Smith,Court 2

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [29]:
%sql
select * from country_club.facilities

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5.0,25.0,10000,200
1,Tennis Court 2,5.0,25.0,8000,200
2,Badminton Court,0.0,15.5,4000,50
3,Table Tennis,0.0,5.0,320,10
4,Massage Room 1,9.9,80.0,4000,3000
5,Massage Room 2,9.9,80.0,4000,3000
6,Squash Court,3.5,17.5,5000,80
7,Snooker Table,0.0,5.0,450,15
8,Pool Table,0.0,5.0,400,15

In [30]:
%sql
SELECT facilities.name,
	   CASE WHEN bookings.memid = 0 THEN 'GUEST'
                ELSE CONCAT(members.firstname, ' ', members.surname) END AS who,
	   CASE WHEN bookings.memid = 0 THEN guestcost * slots
		ELSE membercost * slots END AS total_cost
FROM bookings
	JOIN facilities 
	 ON bookings.facid = facilities.facid
	Join members
	 ON bookings.memid = members.memid
WHERE (membercost * slots > 30) AND (guestcost * slots > 30)

name,who,total_cost
Massage Room 1,Tim Rownam,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,Tim Rownam,39.6
Massage Room 1,Gerald Butters,39.6
Massage Room 1,Darren Smith,39.6
Massage Room 1,GUEST,320.0
Tennis Court 1,Nancy Dare,45.0
Massage Room 1,Tim Rownam,39.6
Massage Room 1,Tim Boothe,39.6
Tennis Court 2,Tim Boothe,45.0
Massage Room 1,GUEST,480.0
Massage Room 1,Tim Rownam,39.6
Massage Room 1,Tim Rownam,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,Ponder Stibbons,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 2,GUEST,320.0
Massage Room 1,GUEST,480.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Tennis Court 2,GUEST,225.0
Massage Room 1,Jemima Farrell,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,David Jones,39.6
Massage Room 1,GUEST,480.0
Massage Room 1,GUEST,480.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,480.0
Massage Room 1,GUEST,320.0
Massage Room 1,Tim Rownam,39.6
Massage Room 1,GUEST,640.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,Jemima Farrell,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Squash Court,GUEST,245.0
Massage Room 1,Jemima Farrell,39.6
Massage Room 2,GUEST,320.0
Tennis Court 1,GUEST,300.0
Massage Room 1,GUEST,640.0
Massage Room 1,Timothy Baker,39.6
Tennis Court 1,GUEST,225.0
Massage Room 1,Tim Boothe,39.6
Massage Room 1,Jemima Farrell,39.6
Massage Room 1,Tim Rownam,39.6
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,480.0
Massage Room 1,GUEST,320.0
Massage Room 1,Tim Rownam,39.6
Massage Room 1,GUEST,640.0
Massage Room 1,Jemima Farrell,39.6
Tennis Court 1,GUEST,225.0
Massage Room 1,GUEST,320.0
Massage Room 1,Matthew Genting,39.6
Tennis Court 2,GUEST,225.0
Tennis Court 2,GUEST,225.0
Massage Room 1,GUEST,320.0
Massage Room 1,GUEST,320.0
Massage Room 2,GUEST,320.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [32]:
%sql

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [34]:
%sql 
select name, sum(case when memid=0 then slots*guestcost else slots*membercost end) as revenue from country_club.bookings left join country_club.facilities using(facid) group by name having revenue<1000

name,revenue
Pool Table,270.0
Table Tennis,180.0
Snooker Table,240.0